


li{
    display: inline;
    margin: 1px;
    padding: 1px;
    
}
.align{
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: larger;

}
.course
{

background-color:#282A36 ;
color:white;
font-size: larger;
padding:10px;
}
/* body{
    background-image: url(/bgimages.jpeg);
background-repeat: no-repeat;

} */
.icon-rtl {
    padding-right: 25px;
    background: url("search.png") no-repeat right;
    background-size:contain;
    width:400px;
    height:40px;
    background-color: white;
    border-radius: 3%;

}
h3
{
    color:wheat;
    font-size:40px ;
}
h1{
    font-size: 80px;
}
.center
{
    background-image:url('new.jpeg');
    /* display: inline; */
    background-repeat: no-repeat;
    /* width: 300px;
    height: 500px; */
    background-size: 100% 100%;
    color: white;
  
}
.top
{
    
    font-size:larger;
}
.topsearch{
    padding-right: 25px;
    background: url("whsearch.png") no-repeat right;
    background-size:contain;
    /* width:400px;
    height:40px; */
    background-color: white;
    border-radius: 3%;
}
.toplink{
    text-decoration:none;
    padding:10px;
    
}
a.toplink:hover
{
    background-color: green;
}
/* a:link
{
    color:white;
}
a:visited
{
    color:white;
} */
 a{
    text-decoration: none;
 }
 td{
    font-size: 30px;
    text-align: center;
 }
 #learnhtml{
    font-size: larger;
    border-radius: 50px;
    background-color: #f6d4168c;
 }
 .html
 {
    background-color: burlywood;
    
 }
 .css
 {
    background-color:aquamarine;
 }
 #learnCSS{
    font-size: larger;
    border-radius: 50px;
    background-color:rgb(206, 175, 235);
 }
